/* Remove weird react scrollbar */
html {
    overflow-y: auto;
}

/* Prettify Bulma */
.is-flex:not(.no-gap) {
    gap: 10px;
}

/* Server and channel list on the side */
#server-list {
    width: 75px;
    background-color: var(--bulma-scheme-main);
}

#channel-list {
    width: 200px;
    height: 100%;
    background-color: var(--bulma-scheme-main);
}

#channel-list > button {
    width: 100%;
}

#server-list button, #channel-list button {
    overflow: hidden;
}

@media screen and (max-width: 750px) {
    #channel-list {
        position: absolute;
        width: calc(100% - 75px);
        left: 75px;
        z-index: 1;
    }

    #channel-list:not(.is-active) {
        visibility: hidden;
    }
}

/* Profile are small icons that show icons like servers or user selection */
.profile {
    width: 75px;
    height: 75px;
}

.profile.inactive {
    background-color: rgb(75, 47, 47);
}

/* Picture profile, used in profiles but also in messages */
.pfp {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-align: center;
    white-space: nowrap;
}

/* Main part that contains messages and input bar */
#main-screen {
    width: calc(100% - 75px);
}

/* Messages container */
#messages {
    padding: .5em;
    height: calc(100dvh - 127px);
    overflow-y: scroll;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    scrollbar-color: rgb(52, 53, 66) transparent;
}

/* Bottom bar to send messages */
#message-form {
    height: 65px;
    margin-bottom: 10px;
}

/* File attachment */
#attach-file-container {
    height: calc(75px - 10px);
}

#attach-file {
    display: none;
}

/* Text input */
#message-field {
    min-height: 100%;
    resize: none;
}

/* Button to send message */
#send-message {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin: 5px 5px 5px 10px;
}

/* Navbar */
.navbar {
    height: 50px;
}

.small-icon {
    font-size: 18px;
}

/* Bulma style override */

/* Make the close button of modal less far away */
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
}

/* Submit should show pointer cursor to hint we can click */
input[type='submit'] {
    cursor: pointer;
}

/* Buttons in navbar don't show border to be cleaner */
.navbar-item.button {
    border: none;
}

/* Settings side pannel */
#settings {
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
    z-index: 30;
    height: 100%;
    background-color: var(--bulma-scheme-main);
}

/* Channel settings */
.settings-chan-preview {
    width: 215px;
}

.settings-chan-new {
    margin-top: 10px;
}