/* Remove the unusable spacebar that might appear on the page */
html {
    overflow-y: hidden;
}

/* Prettier flex */
.is-flex {
    gap: 10px;
}

/* Image effects */
.rich-preview img {
    max-width: 256px;
    max-height: 256px;
}

.preview {
    overflow: hidden;
}

.blur {
    filter: blur(20px);
}

/* Settings */
.dropdown {
    position: absolute;
    left: 0;
    height: 100%;
    width: 500px;
    z-index: 1;
    background-color: var(--bulma-scheme-main);
}
@media screen and (max-width: 750px) {
    .dropdown {
        width: 100%;
    }
}

#settings-dropdown > div, #help-dropdown > div, #profile-dropdown > div {
    width: 100%;
}

.navbar {
    height: 50px;
}

.profile {
    width: 75px;
    height: 75px;
}

.profile.selected {
    border: 1px solid green;
}

.pfp {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-align: center;
    white-space: nowrap;
}

.notif-container {
    position: relative;
}

.notif {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
}

.message .pfp {
    flex-shrink: 0;
}

/* Send message textarea */
#message-form {
    height: 65px;
    margin-bottom: 10px;
}

#message-field {
    min-height: 100%;
    resize: none;
}

#attach-file-container {
    height: calc(75px - 10px);
}

#attach-file {
    display: none;
}

#send-message {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin: 5px 5px 5px 10px;
}

/* Markdown */
pre, code {
    text-wrap-mode: wrap !important;
}

/* Message formatting */
.subtitle {
    margin-bottom: 0 !important;
}

#messages {
    padding: .5em;
    height: calc(100dvh - 127px);
    overflow-y: scroll;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    scrollbar-color: rgb(52, 53, 66) transparent;
}

.content {
    margin-bottom: 0 !important;
    word-break: break-word;
}

/* Make messages prettier */
.message {
    margin-bottom: 0 !important;
    padding: .5em;
}

.message:hover {
    background-color: rgb(52, 53, 66);
}

.message.error {
    color: hsl(0, 100%, 87%);
}

.message.system {
    color: hsl(240, 100%, 87%)
}

.message.sending {
    color: rgb(80, 80, 80);
}

.message.mention {
    background-color: rgb(102, 74, 53);
}

.message.mention:hover {
    background-color: rgb(138, 104, 78);
}

/* Update display of links */
.link {
    text-decoration: underline;
    color: lightcoral;
    cursor: pointer;
}

.link:hover {
    color: white;
}