/* Settings */
.dropdown {
    position: absolute;
    left: 0;
    height: 100%;
    width: 500px;
    z-index: 1;
    background-color: var(--bulma-scheme-main);
}
@media screen and (max-width: 750px) {
    .dropdown {
        width: 100%;
    }
}

#settings-dropdown > div, #help-dropdown > div {
    width: 100%;
}

.navbar {
    height: 50px;
}

.profile {
    width: 75px;
    height: 75px;
}

.pfp {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.notif-container {
    position: relative;
}

.notif {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
}

.message .pfp {
    flex-shrink: 0;
}

/* Send message textarea */
#message-form, #send-message {
    height: 75px;
}

#message-field {
    min-height: 75px;
}

/* Markdown */
pre, code {
    text-wrap-mode: wrap !important;
}

/* Message formatting */
.subtitle {
    margin-bottom: 0 !important;
}

#messages {
    padding: .5em;
    height: calc(100dvh - 125px);
    overflow-y: scroll;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.content {
    margin-bottom: 0 !important;
    word-break: break-word;
}

.message {
    margin-bottom: 0 !important;
    padding: .5em;
}

.message:hover {
    background-color: rgb(43, 43, 43);
}

.message.error {
    color: hsl(0, 100%, 87%);
}

.message.system {
    color: hsl(240, 100%, 87%)
}

.message.sending {
    color: rgb(80, 80, 80);
}

.rich-preview img {
    max-width: 256px;
    max-height: 256px;
}

.is-flex {
    gap: 10px;
}

.link {
    text-decoration: underline;
    color: lightcoral;
    cursor: pointer;
}

.link:hover {
    color: white;
}