/* Remove the unusable spacebar that might appear on the page */
html {
    overflow-y: hidden;
}

/* Contains preview in screen */
#modal-preview img {
    max-height: 90vh;
}

#modal-preview .modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Prettier flex */
.is-flex {
    gap: 10px;
}

/* Image effects */
.rich-preview img {
    max-width: 256px;
    max-height: 256px;
}

.attachment-info {
    font-size: smaller;
    color: gray;
}

.preview {
    overflow: hidden;
}

.blur {
    filter: blur(20px);
}

/* Main part */
#main-screen {
    width: calc(100% - 75px);
}

#server-list, #channel-list {
    width: 75px;
    background-color: var(--bulma-scheme-main);
}

#server-list button, #channel-list button {
    overflow: hidden;
}

@media screen and (max-width: 750px) {
    #channel-list {
        position: absolute;
        width: calc(100% - 75px);
        left: 75px;
        z-index: 1;
    }
}

.channel-hint {
    font-size: 1em;
}

/* Settings */
.dropdown {
    position: absolute;
    left: 0;
    height: 100%;
    width: 500px;
    z-index: 1;
    background-color: var(--bulma-scheme-main);
}
@media screen and (max-width: 750px) {
    .dropdown {
        width: 100%;
    }
}

#settings-dropdown > div, #help-dropdown > div, #profile-dropdown > div, #debug-dropdown > div {
    width: 100%;
}

.navbar {
    height: 50px;
}


.notif-container {
    position: relative;
}

.notif {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
}