{
    "users": [{
        "id": "1",
        "username": "Sample User",
        "password": "PasswordHash"
    }],
    "servers": [{
        "name": "Server Name",
        "channels": [{
            "name": "Channel Name"
        }]
    }]
}