.rich-preview {
    display: none !important;
}

.message .message-main {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.message .date {
    display: none !important;
}

.message .subtitle {
    width: 100px;
    flex-shrink: 0;
}

.message > .is-flex {
    align-items: center;
}

.message .pfp {
    margin-top: 0;
}